* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 5vh;
  color: white;
}

body {
  background-color: rgb(203, 234, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  background-color: rgb(86, 188, 177);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh;
}

.main {
  display: flex;
  height: 60vh;
  gap: 5vh;
  margin: 0 5vh;
}

.main .aside {
  background-color: rgb(138, 217, 122);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .article {
  background-color: rgb(242, 179, 94);
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main .article .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .article .img-list {
  display: flex;
  /* justify-content: space-between; */
  gap: 5vh;
  padding: 5vh;
}

.main .article .img-list .image {
  background-color: rgb(246, 212, 99);
  width: auto;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
