* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(246, 245, 245);
}

.info,
.question {
  border: 1px solid rgb(188, 188, 188);
  border-radius: 10px;
  border-collapse: collapse;
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}

.info input,
.info label {
  height: 40px;
  margin: 10px;
  border-radius: 10px;
}

.question h3,
.question p {
  margin: 10px;
}

.answer {
  height: 50px;
  line-height: 50px;
  background-color: rgb(230, 230, 230);
  margin: 20px 0;
  padding: 0 10px;
  border-radius: 10px;
}

.button-container {
  padding: 0 20px;
  /* height: 100px; */
}
.submit-ans,
.time-counter {
  width: 130px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
}

.submit-ans {
  background-color: rgb(76, 159, 221);
  border: 1px solid rgb(63, 107, 174);
  color: white;
  float: left;
}

.time-counter {
  border: 1px solid black;
  float: right;
}
