#todo-app {
    width: 70%;
    margin: auto;
}

button {
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

#add-todo-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
}

#todo-content-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 10px;
}

#todo-list {
    padding: 0;
    margin-top: 30px;
}

#todo-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: rgb(255, 228, 170);
    margin-bottom: 10px;
}