* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  font-size: 14px;
  font-weight: 350;
}

/* .dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgb(236, 244, 246);
  width: 100vw;
  position: relative;
}

.header {
  background-color: rgb(236, 244, 246);
  position: sticky;
  top: 0;
  height: 10vh;
  color: rgb(111, 166, 224);
}

.navbar {
  padding: 1vw;
}

.navbar,
.nav-btn-list {
  height: 100%;
  justify-content: space-between;
}

.btn-nav {
  height: 100%;
  margin: 2vw;
}

.btn-back,
.download-cv,
.contact,
.btn-buy {
  color: rgb(56, 110, 170);
  border: 0.3vh solid rgb(56, 110, 170);
  display: flex;
  align-items: center;
}

.btn-back {
  background-color: rgb(236, 244, 246);
  height: 100%;
  padding: 20%;
}

.main {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
}

.basic-ava {
  height: 50vh;
  gap: 0.8vw;
}
.basic {
  background-color: rgb(208, 229, 233);
  height: 100%;
  flex-grow: 3;
  flex-direction: column;
  justify-content: space-between;
  padding: 6vh;
}

.name {
  font-size: 34px;
}

.basic-btn-list {
  width: 80%;
  height: 6vh;
  gap: 2vw;
}

.btn-basic,
.btn-basic button,
.btn-buy {
  background-color: rgb(208, 229, 233);
  height: 100%;
  width: 100%;
  gap: 7px;
  /* margin: 2vw; */
}

.ava {
  height: 100%;
  flex-grow: 7;
}

.ava img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.liner {
  width: 3vw;
  border-top: 2px solid black;
}

.about-me {
  background-image: url("./bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 6vh;
  gap: 5vh;
}

.about-title {
  font-size: 34px;
}

.about-content {
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
}

.about-content p,
.edu-content p,
.exp-content p {
  text-align: center;
}

.cv-website-break,
.my-services-break {
  background-color: rgb(208, 229, 233);
  height: 20vh;
  flex-direction: column;
  gap: 4vh;
}

.cv-website-break p,
.my-services-break p {
  font-size: 34px;
}

.profile {
  max-height: 60vh;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.8vw;
}

.edu,
.exp {
  background-color: rgb(208, 229, 233);
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  gap: 5vh;
  padding: 5vh;
}

.edu i,
.exp i,
.edu-title,
.exp-title,
.pricing-title {
  font-size: 34px;
}

.edu-content,
.exp-content {
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
}

.pricing {
  background-color: rgb(208, 229, 233);
  justify-content: space-between;
  gap: 5vh;
  padding: 5vh;
  flex-direction: column;
  padding: 5vh;
}

.price-list {
  justify-content: space-between;
  align-items: flex-start;
  gap: 15vw;
  flex-wrap: wrap;
}

.price-item {
  flex-direction: column;
  gap: 2vh;
}

.price-item > i {
  font-size: 30px;
}

.price-item-price {
  font-size: 26px;
}

.item-list {
  text-align: center;
}

.btn-buy {
  width: 70%;
  height: 7vh;
}
